.kuuku { 
  margin-top: 43px;
  line-height: 77px;
  line-height: 13px;
  border-left-width: 89px;
  border-left-width: 88px;
  border-bottom-width: 58px;
  border-top-width: 7px;
  padding-bottom: 99px;
  padding-bottom: 91px;
  border-right-width: 70px;
  line-height: 31px;
  border-right-width: 47px;
  margin-bottom: 39px;
  border-left-width: 22px;
  line-height: 16px;
}
